.idea/

# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist

# misc
.DS_Store

# umi
.umi
.umi-production
mock/
src/assets/
src/layouts/__tests__/
src/pages/__tests__/